<nav class=" shadow-lg navbar sticky-top navbar-dark" style="background-color:#5DADE2 ;">
  <a class=" navbar-brand" id="appName" style="font-size: 50px; font-family: monospace; color: white; font-weight: bold;" title="Online Food Ordering Application" href="#!">Food Basket</a>
  <ul class="nav justify-content-center">
    <li class=" m-2 shadow nav-item">
      <a class=" nav-link font-weight-bold btn btn-outline-dark text-monospace" href="/home">Home</a>
    </li>
    <li class=" m-2 shadow nav-item">
      <a class="nav-link font-weight-bold btn btn-outline-dark text-monospace" href="/orders">Orders</a>
    </li>
    <li class=" m-2 shadow nav-item">
      <a class="nav-link font-weight-bold btn btn-outline-dark text-monospace" href="/menu">Menu</a>
    </li>
    <li class=" m-2 shadow nav-item">
      <a class="nav-link font-weight-bold btn btn-outline-dark btn-success text-monospace" href="http://localhost:9090/">Check-Out</a>
    </li>
  </ul>
</nav>

<body>
  <div class="Header"><h1>The Modern Cafe</h1></div>
  <div class="Sub"><h1>Rotis</h1></div>
  <div class="SubSub"><h3>Choose from a wide variety of delicious Rotis.. Tear'em UP and EAT!</h3></div>
  <div class="card-deck" style="margin-left:50px; margin-right:50px; margin-top:50px; margin-bottom:50px;">

    <div class="card" style="width:400px">
      <img class="card-img" src="../../assets/img/Tandoori.jpg" height="400" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Tandoori</h4>
        <p class="card-text">Tandoori roti is an Indian flatbread made of a mix of wheat flour and all-purpose flour (maida)..</p>
        <p class="card-footer"> Rs. 14 </p>
        <a href="#" class="btn btn-primary" id="down">Add to cart</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img" src="../../assets/img/Kulcha.jpg" height="400" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Kulcha</h4>
        <p class="card-text">A Kulcha is made of processed flour, Maida leavened with yeast, flattened dough is baked in tava.</p>
        <p class="card-footer"> Rs. 18 </p>
        <a href="#" class="btn btn-primary" id="down">Add to cart</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img" src="../../assets/img/Paratha.png" height="400" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Paratha</h4>
        <p class="card-text">A Paratha, is made out of Atta or Maida which is made into comparatively thicker or stuffy rounds and baked on the iron plates..</p>
        <p class="card-footer"> Rs. 20 </p>
        <a href="#" class="btn btn-primary" id="down">Add to cart</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img" src="../../assets/img/Naan.jpg" height="400" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Naan</h4>
        <p class="card-text" height="100%">A Naan is also a flat bread made from Maida, almost similar in taste with kulcha. But is more tastier</p>
        <p class="card-footer"> Rs. 15 </p>
        <a href="#" class="btn btn-primary" id="down">Add to cart</a>
      </div>
    </div>
  </div>
  <br><br>
  <a href="/menu" class="btn btn-secondary">Back Page</a>
  <a href="https://twitter.com/freshcontrast" target="_blank" class="footer">@FoodCentral</a>
</body>
