<nav class=" shadow-lg navbar sticky-top navbar-dark" style="background-color:#5DADE2 ;">
  <a class=" navbar-brand" id="appName" style="font-size: 50px; font-family: monospace; color: white; font-weight: bold;" title="Online Food Ordering Application" href="#!">Food Basket</a>
  <ul class="nav justify-content-center">
    <li class=" m-2 shadow nav-item">
      <a class=" nav-link font-weight-bold btn btn-outline-dark text-monospace" href="/home">Home</a>
    </li>
    <li class=" m-2 shadow nav-item">
      <a class="nav-link font-weight-bold btn btn-outline-dark text-monospace" href="/orders">Orders</a>
    </li>
    <li class=" m-2 shadow nav-item">
      <a class="nav-link font-weight-bold btn btn-outline-dark text-monospace" href="/menu">Menu</a>
    </li>
    <li class=" m-2 shadow nav-item">
      <a class="nav-link font-weight-bold btn btn-outline-dark btn-success text-monospace" href="http://localhost:9090/">Check-Out</a>
    </li>
  </ul>
</nav>

<body>
  <div class="Header"><h1>The Modern Cafe</h1></div>
  <div class="Sub"><h1>Rice</h1></div>
  <div class="SubSub"><h3>Be Nice Eat Rice</h3></div>
  <div class="card-deck" style="margin-left:50px; margin-right:50px; margin-top:50px; margin-bottom:50px;">

    <div class="card" style="width:400px">
      <img class="card-img" src="../../assets/img/Manchurian.jpg" height="400" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Veg Manchurian Rice</h4>
        <p class="card-text">Saute of Manchurain Balls with delicous rice</p>
        <p class="card-footer" id="down"> Rs. 180 </p>
        <a href="#" class="btn btn-primary" id="down">Add to cart</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img" src="../../assets/img/Biryani.jpg" height="400" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Veg Biryani</h4>
        <p class="card-text">For someone who says true love dont exist, make them taste our Biryani.</p>
        <p class="card-footer" id="down"> Rs. 200 </p>
        <a href="#" class="btn btn-primary" id="down">Add to cart</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img" src="../../assets/img/Schezwan.jpg" height="400" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Triple Schezwan Rice</h4>
        <p class="card-text">The spiciest schezwan rice and tastiest dish you have eaten.</p>
        <p class="card-footer" id="down"> Rs. 220 </p>
        <a href="#" class="btn btn-primary" id="down">Add to cart</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img" src="../../assets/img/Pulav.jpg" height="400" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Plain White Pulav</h4>
        <p class="card-text" height="100%">For the old peeps out there!</p>
        <p class="card-footer" id=""> Rs. 150 </p>
        <a href="#" class="btn btn-primary" id="down">Add to cart</a>
      </div>

    </div>

  </div>
  <a href="/menu" class="btn btn-secondary">Back Page</a>
  <a href="https://twitter.com/freshcontrast" target="_blank" class="footer">@FoodCentral</a>
</body>
