<nav class=" shadow-lg navbar sticky-top navbar-dark" style="background-color:#5DADE2 ;">
  <a class=" navbar-brand" id="appName" style="font-size: 50px; font-family: monospace; color: white; font-weight: bold;" title="Online Food Ordering Application" href="#!">Food Basket</a>
  <ul class="nav justify-content-center">
    <li class=" m-2 shadow nav-item">
      <a class=" nav-link font-weight-bold btn btn-outline-dark text-monospace" href="/home">Home</a>
    </li>
    <li class=" m-2 shadow nav-item">
      <a class="nav-link font-weight-bold btn btn-outline-dark text-monospace" href="/orders">Orders</a>
    </li>
    <li class=" m-2 shadow nav-item">
      <a class="nav-link font-weight-bold btn btn-outline-dark text-monospace" href="/menu">Menu</a>
    </li>
    <li class=" m-2 shadow nav-item">
      <a class="nav-link font-weight-bold btn btn-outline-dark btn-success text-monospace" href="http://localhost:9090/">Check-Out</a>
    </li>
  </ul>
</nav>

<body>
  <div class="Header"><h1>The Modern Cafe</h1></div>
  <div class="Sub"><h1>Chicken</h1></div>
  <div class="SubSub"><h3>What came first? An egg or a CHICKEN? Don't care .. EAT BOTH!!!</h3></div>
  <div class="card-deck" style="margin-left:50px; margin-right:50px; margin-top:50px; margin-bottom:50px;">

    <div class="card" style="width:400px">
      <img class="card-img" src="../../assets/img/Barbeque.jpg" height="50%" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Barbeque Chicken</h4>
        <p class="card-text">The Best Barbequed Chicken is here...</p>
        <p class="card-footer" id="down"> Rs. 250 </p>
        <a href="#" class="btn btn-primary" id="down">Add to cart</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img" src="../../assets/img/Garlic.jpg" height="50%" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Garlic Chicken </h4>
        <p class="card-text">The spice of Garlic, the taste of Chicken, Yum Yum.</p>
        <p class="card-footer" id="down"> Rs. 230 </p>
        <a href="#" class="btn btn-primary" id="down">Add to cart</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img" src="../../assets/img/Butter.jpg" height="50%" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Chicken Butter Masala</h4>
        <p class="card-text">The spiced chicken with dash of butter and curry.</p>
        <p class="card-footer" id="down"> Rs. 200 </p>
        <a href="#" class="btn btn-primary" id="down">Add to cart</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img" src="../../assets/img/Parmesan.jpg" height="50%" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Parmesan Chicken</h4>
        <p class="card-text" height="100%">The taste you just can't resist... PARMESAN</p>
        <p class="card-footer" id=""> Rs. 270 </p>
        <a href="#" class="btn btn-primary" id="down">Add to cart</a>
      </div>
    </div>
  </div>
  <br><br>
  <a href="/menu" class="btn btn-secondary">Back Page</a>
  <a href="https://twitter.com/freshcontrast" target="_blank" class="footer">@FoodCentral</a>
</body>
