<nav class=" shadow-lg navbar sticky-top navbar-dark" style="background-color:#5DADE2 ;">
  <a class=" navbar-brand" id="appName" style="font-size: 50px; font-family: monospace; color: white; font-weight: bold;" title="Online Food Ordering Application" href="#!">Food Basket</a>
  <ul class="nav justify-content-center">
    <li class=" m-2 shadow nav-item">
      <a class=" nav-link font-weight-bold btn btn-outline-dark text-monospace" href="/home">Home</a>
    </li>
    <li class=" m-2 shadow nav-item">
      <a class="nav-link font-weight-bold btn btn-outline-dark text-monospace" href="/orders">Orders</a>
    </li>
    <li class=" m-2 shadow nav-item">
      <a class="nav-link font-weight-bold btn btn-outline-dark text-monospace" href="/menu">Restaurants</a>
    </li>
    <li class=" m-2 shadow nav-item">
      <a class="nav-link font-weight-bold btn btn-outline-dark btn-success text-monospace" href="http://localhost:9090/">Check-Out</a>
    </li>
  </ul>
</nav>

<body>
  <div class="Header"><h1>The Modern Cafe</h1></div>
  <div class="Sub"><h1>Desserts</h1></div>
  <div class="SubSub"><h3>There is always some space left for Desserts...</h3></div><br>
  <div class="card-deck" style="margin-left:50px; margin-right:50px; margin-top:50px; margin-bottom:50px;">

    <div class="card" style="width:400px">
      <img class="card-img" src="../../assets/img/Rasmalai.jpg" height="45%" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Ras Malai</h4>
        <p class="card-text">The Authentic Indian Sweet</p>
        <p class="card-footer" id="down"> Rs. 60 </p>
        <a href="#" class="btn btn-primary" id="down">Add to cart</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img" src="../../assets/img/Cake.jpg" height="45%" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Chocolate cake</h4>
        <p class="card-text">Sad? Have a Cake</p>
        <p class="card-footer" id="down"> Rs. 70 </p>
        <a href="#" class="btn btn-primary" id="down">Add to cart</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img" src="../../assets/img/Fudge.jpg" height="45%" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Mixed Fudge</h4>
        <p class="card-text">No death is better than Death by Fudge!.</p>
        <p class="card-footer" id="down"> Rs. 140 </p>
        <a href="#" class="btn btn-primary" id="down">Add to cart</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img" src="../../assets/img/Smoothie.jpg" height="45%" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Smoothie</h4>
        <p class="card-text" height="100%">A pleasure to your sweet tooth</p>
        <p class="card-footer" id=""> Rs. 150 </p>
        <a href="#" class="btn btn-primary" id="down">Add to cart</a>
      </div>
    </div>
  </div>
  <br><br>
  <a href="/menu" class="btn btn-secondary">Back Page</a>
  <a href="https://twitter.com/freshcontrast" target="_blank" class="footer">@FoodCentral</a>
</body>
